<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Clients</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Persons List</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Persons</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
            <div class="box-tools pull-right">
                <a href="/persons/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Date of Birth</th>
                    <th>Type</th>
                    <th>Nationality</th>
                    <th>photo</th>
                    <th>Added Date</th>
                    <th>Action</th>
                </tr>
                <tr th:each="row : ${listPersonnes}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.nom}"></td>
                    <td th:text="${row.prenom}"></td>
                    <td th:text="${#dates.format(row.dateNaissance, 'dd/MM/yyyy')}"></td>
                    <td th:text="${row.typePersonne}"></td>
                    <td th:text="${row.nationality.label}"></td>
                    <td>
                        <img th:src="@{${row.photo}}" width="100" height="80" alt="Media Image" />
                    </td>
                    <td th:text="${#dates.format(row.addedDate, 'dd/MM/yyyy')}"></td>
                    <td>
                        <a th:href="${'/persons/edit/' + row.id}">Edit</a> |
                        <a th:href="${'/persons/delete/' + row.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/persons/1">First</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/persons/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/persons/' + endIndex}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
