<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add seance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row col-md-10">
        <h2>Add Seance</h2>
    </div>
    <form th:object="${seance}" th:action="@{/seances/save}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="Date">Date Projection</label>
            <input type="date" class="form-control" th:field="*{dateProjection}" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="duree">begin Hour</label>
            <input type="time" class="form-control" th:field="*{beginning_hour}" id="duree" name="duree" required>
        </div>
        <div class="form-group">
            <label for="end">Ending Hour</label>
            <input type="time" class="form-control" th:field="*{ending_hour}" id="end" name="end" required>
        </div>

        <div class="form-group">
            <label for="Genre">Movie</label>
            <select class="form-control" th:field="*{movie}" id="genre" required>
                <option th:each="movie : ${listFilms}" th:value="${movie.id}" th:text="${movie.title}">Select movie</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nationality">Room</label>
            <select class="form-control" th:field="*{room}" id="nationality" required>
                <option th:each="room : ${listSalles}" th:value="${room.id}" th:text="${room.number}">Select room</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>