<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Media</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Add Media</h2>
        </div>
    </div>
  <form th:object="${media}" th:action="@{/media/save}" method="post" enctype="multipart/form-data">
       <div class="form-group">
            <label for="movie">Movie</label>
            <select class="form-control" th:field="*{movie}" id="movie" required>
                <option th:each="movie: ${listMovies}" th:value="${movie.id}" th:text="${movie.title}">Select movie</option>
            </select>
        </div>
      <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type" th:field="*{typeMedia}" required>
              <option value="">Select Type</option>
              <option th:each="type : ${T(com.example.MovieAdministartion.model.Media$TypeMedia).values()}"
                      th:value="${type}" th:text="${type}"></option>
          </select>

      </div>
        <div class="form-group">
            <label for="media">Media (JPG, PNG, PDF)</label>
            <input type="file" class="form-control-file" id="media" name="file" accept=".jpg,.png,.pdf" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Media</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
