<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Media List</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Media List</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Media</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Media List</h3>
            <div class="box-tools pull-right">
                <a href="/media/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Film Title</th>
                    <th>Media Type</th>
                    <th>Media </th>
                    <th>Action</th>
                </tr>
                <tr th:each="row : ${mediaList}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.movie.title}"></td>
                    <td th:text="${row.typeMedia}"></td>
                    <td>
                        <img th:src="@{${row.media}}" width="100" height="80" alt="Media Image" />
                    </td>
                    <td>
                        <a th:href="${'/media/edit/' + row.id}">Edit</a> |
                        <a th:href="${'/media/delete/' + row.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/media/">First</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/media/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/media/' + endIndex}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>