<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-folder"></i> <span>Parametre</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/movies"><i class="fa fa-circle-o"></i> Movies List</a></li>
                <li><a href="/movies/add"><i class="fa fa-circle-o"></i> Add Movie </a></li>
                <li><a href="/type"><i class="fa fa-circle-o"></i> Movies Genre</a></li>
                <li><a href="/persons/1"><i class="fa fa-circle-o"></i>Persons List</a></li>
                <li><a href="/persons/add"><i class="fa fa-circle-o"></i> Add Person </a></li>
                <li><a href="/media/1"><i class="fa fa-circle-o"></i>Media List</a></li>
                <li><a href="/media/add"><i class="fa fa-circle-o"></i>Add Media</a></li>
            </ul>
        </li>


    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
